/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
*{
	-fx-accent: #d77e00;
	-fx-focus-color: #d77e00;
}



.menu-bar{
	-fx-background-color:         linear-gradient(#2e2e2e 0.0%, #3f3f3f 100.0%);
}

.menu-item{
    -fx-background-color: #3f3f3f;
}

.menu-item:hover{
   -fx-background-color: -fx-accent;
}

.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: #3f3f3f;
    
    }
.tab-pane>*.tab-header-area>*.tab-header-background {
   -fx-background-color: #3f3f3f;
}

.tab{
		-fx-background-color: #6a6a6a;
	-fx-background-radius: 3.0;
	-fx-border-radius: 3.0;
	-fx-border-color: gray;
}
.tab:hover{
			-fx-background-color: -fx-accent;
}
.tab:selected{
			-fx-background-color: #3f3f3f;
	-fx-background-radius: 3.0 3.0 0.0 0.0;
	-fx-border-radius:  3.0 3.0 0.0 0.0;
	-fx-border-color: white white transparent  white;
}
.split-pane{
	-fx-box-border: transparent;
}
.root{
	   -fx-background-color: #3f3f3f;
}

.button{
	-fx-background-color: #4a4a4a;
	-fx-background-radius: 3.0;
	-fx-border-radius: 3.0;
	-fx-border-color: white;
	-fx-text-fill: white;
	-fx-effect: dropshadow( three-pass-box , rgba(128.0,128.0,128.0,0.6) , 5.0, 0.0 , 0.0 , 1.0 );
}

.button:hover{
		-fx-background-color: #6a6a6a;
}

.button:pressed{
		-fx-background-color: #4a4a4a;
}

.label, .check-box, .tab-label{
		-fx-text-fill: white;
		-fx-background-color: transparent ;
}

.vbox, .menu:showing{
			-fx-background-color: #3f3f3f;
}

.tree-view,.list-cell,  .tree-cell, .column-header{
	-fx-background-color: #4a4a4a;
	-fx-text-fill: white;
		-fx-border-color: transparent;
}
.list-cell:odd,.list-view{
		-fx-background-color: #3f3f3f;
	-fx-text-fill: white;
	-fx-border-color: transparent ;
}

.tree-cell:selected, .check-box:selected .mark{
	-fx-background-color: -fx-accent;
	
}

.table-row-cell:odd {
  -fx-background-color: 
  -fx-table-cell-border-color, derive(-fx-control-inner-background,-5.0%);
  -fx-background-insets: 0.0, 0.0 0.0 1.0 0.0;
}

.table-row-sell:down{
	-fx-background-color: #4a4a4a;
}

.table-cell{
		-fx-background-color: #3f3f3f;
	-fx-text-fill: white;
}

.table-cell:odd{
	-fx-background-color: #4a4a4a;
	-fx-text-fill: white;
}

.box{
	-fx-background-color: #6a6a6a;
}
.jfx-snackbar-content {
    -fx-background-color: #323232D0;
}
.jfx-snackbar-toast {
    -fx-text-fill: WHITE;  
    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-font-size: 13.0;
}
.jfx-snackbar-action {
    -fx-text-fill: -fx-accent;  
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0.0 60.0 0.0 0.0 ;
    -fx-font-weight: bold;
    -fx-font-size: 13.0;
}

.jfx-snackbar-action:hover{
	-fx-text-fill: white;
	    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.dialog-pane:header .header-panel {
    -fx-background-color: #4a4a4a;
}

.progress-bar{
		-fx-border-color: grey;
		-fx-border-radius: 3.0;
}

.progress-bar .bar{
	-fx-background-color: linear-gradient(to bottom, derive(-fx-accent, -7.0%), derive(-fx-accent, 0.0%), derive(-fx-accent, -3.0%), derive(-fx-accent, -9.0%) );
    -fx-background-insets: 2.0 2.0 2.0 2.0;
}
.progress-bar .track{
	-fx-background-color: transparent;
}
.progress-indicator .percentage{
	-fx-fill: white;
}









