/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
/*.button{
	-fx-background-color: black;
}*/

.tooltip{
	-fx-background-color: white;
	-fx-text-fill: black;
}
.jfx-snackbar-content {
    -fx-background-color: #323232D0;
}
.jfx-snackbar-toast {
    -fx-text-fill: WHITE;  
    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-font-size: 13.0;
}
.jfx-snackbar-action {
    -fx-text-fill: -fx-accent;  
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0 60 0 0 ;
    -fx-font-weight: bold;
    -fx-font-size: 13.0;
}

.jfx-snackbar-action:hover{
	-fx-text-fill: white;
	    -fx-background-color: transparent;
    -fx-border-color: transparent;
}






